@model IEnumerable<TechnicalTask.Models.DAL.Invoice>

@{
    ViewBag.Title = "Invoices";
    int counter = 0;
}

    <div class="card mb-2">
        <h3 class="card-header text-center font-weight-bold  py-4">Invoice Items</h3>
        <div class="card-body">
            <div>
                <span class="table-add float-right mb-3 mr-2">
                    <a href="@Url.Action("Create","Invoice")"  class="btn  text-success NoBackground"> <i class="fa fa-plus fa-3x"></i> </a>
                </span>
            </div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th style="width:7%" scope="col">#</th>
                        <th style="width:10%" scope="col">
                            @Html.DisplayNameFor(model => model.invoice_No)

                        </th>
                        <th style="width:10%" scope="col">
                            @Html.DisplayNameFor(model => model.Date)

                        </th>
                        <th style="width:9%" scope="col">
                            @Html.DisplayNameFor(model => model.invoice_Taxes)

                        </th>
                        <th style="width:9%" scope="col">
                            @Html.DisplayNameFor(model => model.invoice_Total)

                        </th>
                        <th style="width:9%" scope="col">
                            @Html.DisplayNameFor(model => model.invoice_Net)
                        </th>
                        <th style="width:9%" scope="col">
                            @Html.DisplayNameFor(model => model.storeId)
                        </th>
                        <th style="width:8%" scope="col"></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        counter++;
                        <tr>
                            <td>
                                @counter
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.invoice_No)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.invoice_Taxes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.invoice_Total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.invoice_Net)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Store.Name)
                            </td>
                            <td>
                               <button class="btn btn-danger" onclick="deleteRecord(@item.ID)"><i class="fa fa-trash"></i></button>
                               <a class="btn btn-info" href="@Url.Action("Edit","Invoice",new {id=item.ID })"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
@section Scripts{
    <script>
                 function deleteRecord(id) {
            $.ajax({
                type: "post",
                url: '@Url.Action("Delete","Invoice")' + '?ID=' + id,
                success: function (respons) {
                    if (respons.status) {
                        toastr.success("", "Invoice Deleteed Sucessfully", { timeOut: 3000 });
                        window.location.reload();
                    }
                    else {
                    toastr.error("Sorry Delet Operation Can Not Be Done Wright Now","Notification" ,{ timeOut: 1000 });

                    }
                },

                fail: function (xhr, msg, errorThrown) {
                    toastr.error("Error", "", { timeOut: 1000 });

                },
                error: function (xhr, statusText, errorThrown) {
                    toastr.error("Error", "", { timeOut: 1000 });
                }
            });

        }

        $(document).ready(function () {
                            //Show Delet Msg Confirmation
    function DeleteConfirmation(id) {
        bootbox.confirm({
            title:"Delete",
            message: "Are you shure ?!",
            size: 'small',
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel',
                    className: 'btn-info'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    deleteRecord(id)
                }
                else {
                    return true;
                }
            }
        });

    }
        });
    </script>
    }
